body {
    background-color: rgb(243, 250, 251);
}

button{
    background-color: rgb(159, 200, 234);
    color: rgb(29, 28, 28);
    border-radius: 5%;
    border: none;
    height: 25px;
    font-size: 17px;
}

button:hover{
    cursor: pointer;
}